body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f2432;
}

code {
  font-family: 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}
